@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins';
    line-height: 1.8;
    background: rgb(204,22,188);
    background: linear-gradient(90deg, rgba(204,22,188,1) 29%, rgba(0,236,255,1) 98%);
}

a {
    text-decoration: none;
}

#container {
    max-width: 430px; 
    margin: 30px auto; 
    padding: 20px; 
}

.form-wrap {
    background-color: #ffffff;
    padding: 15px 25px;
    color: #333;
    border-radius: 5px;
    border-top: 4px solid #49c1a2;
}

.form-wrap , .form-group {
    
    width: 100%;
    padding: 10px;
   
    border-radius: 5px;
    font-family: 'poppins';
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
    font-family: 'poppins';
}

.form-wrap button {
    color: #fff;
    background-color: #49c1a2;
    border: 5px solid;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    display: block;
    cursor: pointer;
    transition: 1s;
    font-size: 15px;
    font-family: 'POPPINS';
}

.form-wrap button:hover {
    transition: 1s;
    background-color: #37a036;
}


.bottom-text {
    justify-content: space-between; 
     display: flex;
}

.bottom-text a {
    margin: 10px;
}

