@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main_box {
  background: url(img1.jpg);
  height: 100vh;
  background-size: cover;
}

.btn_one {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
}

.sidebar_menu {
  position: fixed;
  left: -300px;
  height: 100vh;
  width: 300px;
  background-color: rgba(231, 228, 228, 0.37);
  box-shadow: 0 0 8px rgba(250, 250, 250, 0.5);
  transition: all 0.3s linear;
}

.sidebar_menu .logo {
  position: absolute;
  width: 100%;
  line-height: 60px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  height: 60px;
}

.sidebar_menu .logo a {
  position: absolute;
  left: 50px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
}

.sidebar_menu .menu {
  position: absolute;
  width: 100%;
  color: rgb(255, 255, 255);
}

.sidebar_menu .btn_two i {
  color: rgb(0, 0, 0);
  font-size: 20px;
  line-height: 60px;
  position: absolute;
  left: 275px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.sidebar_menu .menu li {
  margin-top: 6px;
  padding: 10px 14px;
}

.sidebar_menu .menu i,
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
}

.sidebar_menu .menu i {
  padding-right: 8px;
}

.sidebar_menu .social_media {
  position: absolute;
  left: 25%;
  bottom: 50px;
}

.sidebar_menu .social_media {
  color: rgb(0, 0, 0);
  opacity: 0.6;
  padding: 0 5px;
}

#check {
  display: none;
}

.menu {
  margin-top: 70px;
}

.sidebar_menu .menu li:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.btn_one i:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn_two i:hover {
  font-size: 30px;
  cursor: pointer;
}

.sidebar_menu .social_media i:hover {
  transform: scale(1.5);
  transition: all 0.2s;
}

#check:checked ~ .sidebar_menu {
  left: 0;
}

#check:checked ~ .btn_one {
  opacity: 0;
}
